/* 重置浏览器默认样式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000000;
}

a {
    text-decoration: none;
}

.content {
    margin: 60px auto;
    width: 80%;
    height: 100vh; /* 设置高度为视窗高度 */
    position: relative;
    display: flex;
}

.main {
    flex-grow: 1; /* 让 main 占据剩余空间 */
    display: flex;
    /*background-color: blueviolet;*/
}


/*图片轮播*/
.carousel {
    width: 100%;
    height: 400px;
    margin: 0 auto;
    position: relative;
    left: 60px;
    overflow: hidden;
    /*background-color: orange;*/
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.slide.active {
    opacity: 1;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.prev-arrow,
.next-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.prev-arrow {
    left: 10px;
}

.next-arrow {
    right: 10px;
}

/*分类选项*/
.classify {
    margin: 0 auto;
    left: 60px;
    width: 100%;
    height: 40px;
    padding: 0 60px 0 60px;
    /*background-color: red;*/
    position: absolute;
    top: 420px;
    z-index: 1;
}

.classify-item {
    width: 100px;
    height: 40px;
    background-color: #333333;
    border-radius: 10px;
    color: #e5e5e5;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    margin-left: 20px;
    float: left;
}

.classify-item:hover {
    transition: 0.1s;
    background-color: #414141;
}

.classify-item.selected {
    color: #f86496;
    background-color: #414141;
}

/*展示电影列表*/
.movie-list {
    width: 100%;
    height: 1500px;
    position: absolute;
    top: 420px;
    padding-top: 60px;
    /*background-color: rgba(0, 255, 255, 0.45);*/
    left: 45px;
    margin: 0 auto;
    overflow: hidden;
}

.movie-list .movie-item {
    width: 230px;
    height: 380px;
    margin-left: 2%;
    float: left;
    background-color: black;
    border-radius: 10px;
}

/*悬浮后缩小效果*/
.movie-list .movie-item:hover {
    border-style: solid;
    border-color: rgba(255, 255, 255, 0);
    border-width: 5px;
    transition: 0.1s;
    cursor: pointer;
}

.movie-list .movie-item .movie-title {
    font-size: 18px;
    color: white;
}

.movie-list .movie-item img {
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.4);
}

/*分页*/
.pagination {
    width: 160px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    background-color: #333333;
    color: #e5e5e5;
    font-size: 18px;
    line-height: 40px;
    position: relative;
    float: right;
}

.pagination button {
    background-color: #333;
    border: none;
    color: #fff;
    font-size: 20px;
    padding: 5px 10px;
    cursor: pointer;
    width: 40px;
    border-radius: 5px;
}

.pagination button:hover {
    background-color: #414141;
    transition: 0.1s;
}

.pagination button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.pagination .current-page,
.pagination .total-pages {
    color: #fff;
    font-size: 20px;
    margin: 0 5px;
    background-color: #333;
}

.pagination span {
    color: #fff;
    font-size: 20px;
}
