/* 重置浏览器默认样式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000000;
}

a {
    text-decoration: none;
}

.content {
    margin-left: 120px; /* 与 sideNavBar的宽度相同 */
}

