/* µÇÂ¼/×¢²á¿ò */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

.modal-content {
    background-color: #fefefe;
    padding: 40px 50px 40px 50px;
    width: 400px;
    height: 600px;
    position: absolute;
    top: 14%;
    right: 20%;
    border-radius: 20px;
}

.login-title {
    position: relative;
    top: 4%;
    font-size: 36px;
    font-weight: bold;
}

.login-tip {
    position: relative;
    top: 5%;
    font-size: 14px;
    color: #777777;
}

.login-service {
    position: relative;
    top: 8%;
    font-size: 14px;
    text-align: center;
    color: #5d5d5d;
}

.form-container {
    max-width: 400px;
    width: 100%;
    position: relative;
    top: 10%;
}

.form-tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    font-size: 26px;
}

.tab-btn {
    background-color: transparent;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}

.tab-btn.active {
    border-bottom: 2px solid #007bff;
    color: #007bff;
}

form {
    display: none;
}

form.active {
    display: block;
}

input {
    width: 100%;
    height: 48px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 18px;
}

input::placeholder {
    color: #989898;
}

.login-and-register {
    width: 100%;
    height: 50px;
    padding: 10px;
    background-color: #1c87ff;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-and-register:hover {
    transition: 0.1s;
    background-color: #007bff;
    box-shadow: rgba(0, 0, 0, 0.1) 4px 4px 5px;
}
