/* 重置浏览器默认样式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.movie-player {
    width: 1000px;
    height: auto;
    margin: 0 auto;
    background-color: #cfffff;
}

#bili-radio {
    width: 100%;
}