/* 上侧导航栏 */
.navbar {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    height: 60px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    z-index: 1;
}

/* 返回时首页按钮G543 */
.navbar .to-index {
    width: 140px;
    height: 60px;
    line-height: 60px;
    background-color: #000000;
    color: #fff;
    text-decoration: none;
    padding-left: 20px;
    transition: background-color 0.3s ease;
}

.navbar .to-index span {
    color: white;
    font-size: 20px;
}

.navbar span {
    font-family: 'Microsoft YaHei', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

/* 搜索按钮 */
.navbar .search-box {
    width: 26px;
    height: 26px;
    margin-right: 20px;
}

/*侧边导航栏*/
.side-navbar {
    height: 100%;
    width: 120px;
    position: fixed;
    float: left;
    z-index: 1;
    top: 0;
    left: 1%;
    background-color: #2f2f2f;
    overflow-x: hidden;
    padding-top: 10px;
    margin-top: 60px; /* 与 headNavBar的高度相同 */
    border-radius: 10px;
}

.side-navbar a {
    line-height: 40px;
    font-size: 16px;
    color: #9a9a9a;
    display: block;
}

.side-navbar a:hover {
    transition: 0.1s;
    color: #f1f1f1;
}

.side-navbar .item {
    width: 120px;  /* 和sideNavBar相同 */
    height: 40px;  /* 和a的line-height相同 */
    background-color: #2f2f2f;
    padding-left: 20px;
}

.side-navbar .item:hover {
    transition: 0.1s;
    background-color: #3d3d3d;
}

.nav-title {
    width: 120px;  /* 和sideNavBar相同 */
    height: 40px;
    line-height: 40px;
    color: #9a9a9a;
    font-size: 16px;
    background-color: #2f2f2f;
    padding-left: 20px;
    margin-top: 10px;
}

.nav-title:hover {
    transition: 0.1s;
    background-color: #3d3d3d;
}

/*用户按钮下拉菜单样式*/
.side-navbar .item2 {
    width: 120px;  /* 和sideNavBar相同 */
    height: 40px;  /* 和a的line-height相同 */
    color: #858383;
    font-size: 14px;
    background-color: #212121;
    padding-left: 20px;
}

.side-navbar .item2:hover {
    transition: 0.1s;
    background-color: #3d3d3d;
}