body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
    background-image: url('/images/bgImage.jpg');
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}
.popup {
    background: #fffde7;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 50%;
    height: 45%;
    display: flex;
    flex-direction: row;
    position: relative;
}
.popup-left {
    width: 80%;
}
.popup-right {
    margin: 0 auto;
}
.popup h2 {
    margin-top: 0;
}
.selector{
    background: #fff;
    height: 98%;
    padding-bottom: 10px;
}
.plan-selector {
    color: #a37637;
    font-weight: bold;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #fff7e6;
    border-radius: 8px;
}
.plan-detail {
    font-size: 12px;
    margin-top: 5px;
    font-weight: lighter;
}
.duration-selector {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /*gap: 2%;*/
    height: 80%;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}
.plan, .duration {
    padding: 15px;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 8px;
    text-align: center;
    transition: all 0.1s ease;
}
.plan {
    background-color: #fff7e6; /* 未选择的档位黄色背景 */
    height: 85%; /* 挡位选择高度 */
    flex-grow: 1;
}
.plan.selected {
    /*height: 60px;*/
    color: #8c560b;
    background-color: #fff; /* 选择的档位白色背景 */
    /*clip-path: polygon(0% 0%, 90% 0%, 100% 100%, 0% 100%);*/
}
#goldVip.selected {
    clip-path: polygon(0% 0%, 90% 0%, 100% 100%, 0% 100%);
}
#goldVip.selectedMid {
    clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 0% 100%);
}
#diamondVip.selected{
    clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
}
#diamondVip.selectedMid{
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 10% 100%);
}
.duration {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f9f9f9; /* 未选择的期限灰色背景 */
    height: 70%; /* 期限选择高度 */
    width: 25%;
}
.duration.selected {
    background-color: #fff7e6; /* 选择的期限黄色背景 */
    border-color: #a37637;
    border-width: thin;
}
.duration:hover {
    border-color: #a37637;
    border-width: thin;
}
.duration-detail{
    margin-top: 50%;
    font-size: 14px;
}
.duration-renew{
    margin-bottom: 50%;
    color: #999;
    font-size: 14px;
}
.price {
    font-size: 28px;
    font-weight: bold;
    color: #8c560b;
}
.original-price {
    font-size: 14px;
    text-decoration: line-through;
    color: #999;
}
.qr-code {
    text-align: center;
    margin-top: 20px;
}
.qr-code canvas {
    width: 120px;
    height: 120px;
}
.amount-display {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #8c560b;
    margin-top: 20px;
}
.discount {
    text-align: center;
    font-size: 16px;
    color: #999;
}
.close{
    position: absolute;
    top: 3%;
    right: 3%;
    cursor: pointer;
    color: #8c560b;
}

.vip-center {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    gap: 30px;
}

.vip-button {
    background-color: #ffedc2;
    border: none;
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 30px;
    cursor: pointer;
    margin: 20px 0;
    color: #8c560b;
    font-weight: bold;
}
.vip-button:hover {
    background-color: #e6d3ac;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 80%;
}
.card {
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding-top: 3%;
    padding-bottom: 3%;
    width: 15%;
    text-align: center;
    opacity: 0.8;
    transition: transform 0.3s, opacity 0.3s;
}
.card img {
    width: 60%;
    height: 60%;
    border-radius: 10px;
}
.card-title {
    font-size: 18px;
    margin: 15px 0 10px;
    transition: color 0.3s;
}
.card-description {
    font-size: 14px;
    color: #666;
    transition: color 0.3s;
}
.card:hover{
    transform: scale(1.1);
    opacity: 1;
    box-shadow: 0 0 20px #f86496; /* 添加发光效果 */
}
.card:hover .card-title,
.card:hover .card-description {
    color: #f86496;
}
.vip-title{
    font-size: 32px;
    color: #F9D681;
}