<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>G543——观影历史</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/navBar.css">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <link rel="stylesheet" type="text/css" href="/css/history.css">
</head>

<body>
<!--顶部导航栏-->
<div th:insert="headNavBar.html"></div>

<!--主要内容-->
<div class="content">

    <!--侧边导航栏-->
    <div th:insert="sideNavBar.html"></div>

    <!--主体-->
    <div class="main">
        <!--选择榜单-->
        <div class="title-bar">
            <span class="title-item">历史记录</span>
        </div>

        <!--电影展示-->
        <div class="movie-list" id="movieList">
            <!--展示内容-->
            <ul class="movie-list-detail"></ul>
        </div>

    </div>


</div>


<!--页脚-->
<div th:insert="foot.html"></div>
<!--登录注册框-->
<div th:insert="login.html"></div>
</body>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="/js/history.js"></script>
<script src="/js/login.js"></script>
<script src="/js/navBar.js"></script>

<script>
    // 用户-登录按钮的隐藏与显示
    $(function () {

        //隐藏所有子标题
        $(".navMenu").each(function () {
            $(this).children(".navContent").hide();
        });

        //给菜单项中的所有主标题绑定事件
        $(".nav-title").each(function () {
            //获取点击当前标签下所有子标签
            var navConEle = $(this).parents(".navMenu").children(".navContent");

            //绑定点击事件,判断navConEle的display这个属性是否为none,时none的话时隐藏状态
            $(this).click(function () {
                if (navConEle.css("display") != "none") {
                    //隐藏,传参数自带动画,单位为毫秒
                    navConEle.hide(300);
                } else {
                    //显示,传参数自带动画,单位为毫秒
                    $(".nav-menu").each(function () {
                        $(this).children(".nav-content").hide(300);
                    });
                    navConEle.show(300);
                }
            });
        });

        $(".navContent>a").each(function () {
            $(this).click(function () {
                $(".content").html($(this).html());
            });
        });
    });
</script>

</html>