<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>G543电影网</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <link rel="stylesheet" type="text/css" href="/css/navBar.css">
</head>

<body>
<!--顶部导航栏-->
<div th:insert="headNavBar.html"></div>

<!--主要内容-->
<div class="content">

    <!--侧边导航栏-->
    <div th:insert="sideNavBar.html"></div>

    <!--主体-->
    <div class="main">

        <!--图片轮播-->
        <div class="carousel">
            <div class="slide">
                <a href="#"><img src="/images/image001.png" alt="Image_1"></a>
            </div>
            <div class="slide">
                <a href="#"><img src="/images/image002.png" alt="Image_2"></a>
            </div>
            <div class="slide">
                <a href="#"><img src="/images/image003.png" alt="Image_3"></a>
            </div>
            <div class="slide">
                <a href="#"><img src="/images/image004.png" alt="Image_4"></a>
            </div>
            <div class="slide">
                <a href="#"><img src="/images/image005.png" alt="Image_5"></a>
            </div>
            <div class="prev-arrow">&#8249;</div>
            <div class="next-arrow">&#8250;</div>
        </div>

        <!--电影分类选项-->
        <div class="classify">
            <a href="#" onclick="searchMovies('1'); return false;">
                <div class="classify-item">热播</div>
            </a>
            <a href="#" onclick="searchMovies('中国'); return false;">
                <div class="classify-item" style="margin-left: 40px">内地</div>
            </a>
            <a href="#" onclick="searchMovies('国外'); return false;">
                <div class="classify-item">国外</div>
            </a>
            <a href="#" onclick="searchMovies('喜剧'); return false;">
                <div class="classify-item" style="margin-left: 40px">喜剧</div>
            </a>
            <a href="#" onclick="searchMovies('动作'); return false;">
                <div class="classify-item">动作</div>
            </a>
            <a href="#" onclick="searchMovies('动画'); return false;">
                <div class="classify-item">动画</div>
            </a>
        </div>

        <!--电影展示-->
        <div class="movie-list" id="movieList">
            <!--展示内容-->
            <ul class="movie-list-detail"></ul>
            <!--分页按钮-->
            <div class="pagination">
                <button class="prev-page">
                    <span>&lt;</span>
                </button>
                <span class="current-page">1</span>
                <span>/</span>
                <span class="total-pages">1</span>
                <button class="next-page">
                    <span>&gt;</span>
                </button>
            </div>

        </div>

    </div>

</div>

</div>


<!--页脚-->
<div th:insert="foot.html"></div>
<!--登录注册框-->
<div th:insert="login.html"></div>
</body>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="/js/login.js"></script>
<script src="/js/index.js"></script>
<script>
    // 用户-登录按钮的隐藏与显示
    $(function () {

        //隐藏所有子标题
        $(".navMenu").each(function () {
            $(this).children(".navContent").hide();
        });

        //给菜单项中的所有主标题绑定事件
        $(".navTitle").each(function () {
            //获取点击当前标签下所有子标签
            var navConEle = $(this).parents(".navMenu").children(".navContent");

            //绑定点击事件,判断navConEle的display这个属性是否为none,时none的话时隐藏状态
            $(this).click(function () {
                if (navConEle.css("display") != "none") {
                    //隐藏,传参数自带动画,单位为毫秒
                    navConEle.hide(300);
                } else {
                    //显示,传参数自带动画,单位为毫秒
                    $(".nav-menu").each(function () {
                        $(this).children(".nav-content").hide(300);
                    });
                    navConEle.show(300);
                }
            });
        });

        $(".navContent>a").each(function () {
            $(this).click(function () {
                $(".content").html($(this).html());
            });
        });
    });
</script>

</html>