<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>G543电影网</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <link rel="stylesheet" type="text/css" href="/css/navBar.css">
    <script src="/js/login.js"></script>
</head>

<body>
    <!--顶部导航栏-->
    <div th:insert="headNavBar.html"></div>
    <!--侧边导航栏-->
    <div th:insert="sideNavBar.html"></div>

    <!--主要内容-->
    <div class="content"></div>


    <!--页脚-->
    <div th:insert="foot.html"></div>
    <!--登录注册框-->
    <div th:insert="login.html"></div>
</body>

</html>