<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>注册/登录示例</title>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
</head>
<body>
<div class="container">
    <div class="background">
        <div class="overlay">
            <div class="form-container">
                <div class="form-tabs">
                    <button class="tab-btn active" data-target="#login-form">登录</button>
                    <button class="tab-btn" data-target="#register-form">注册</button>
                </div>
                <form id="login-form" class="active">
                    <input type="email" placeholder="电子邮箱" required>
                    <input type="password" placeholder="密码" required>
                    <button type="submit">登录</button>
                </form>
                <form id="register-form">
                    <input type="text" placeholder="用户名" required>
                    <input type="email" placeholder="电子邮箱" required>
                    <input type="password" placeholder="密码" required>
                    <input type="password" placeholder="确认密码" required>
                    <button type="submit">注册</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="../static/js/index.js"></script>
</body>
</html>