<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>G543电影网——电影播放</title>
    <link rel="stylesheet" href="/css/moviePlay.css">
    <link rel="stylesheet" href="/css/navBar.css">
</head>
<body>
<!--顶部导航栏-->
<div th:insert="headNavBar.html"></div>

<!--电影主要内容-->
<div class="content">
    <div class="movie-player">
        <iframe id="bili-radio"
                src="//player.bilibili.com/player.html?isOutside=true&aid=1301499751&bvid=BV1Xu4m137RK&cid=1456582976&p=1&danmaku=0"
                scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true">
        </iframe>

        <div id="need-vip-tip" class="need-vip-tip">
            <div class="need-vip-tip-content">
                <p>本电影是VIP会员专享内容</p>
                <div class="vip-privilege">
                    <div class="vip-privilege-item">
                        <img src="/images/benefits/4k.svg" alt="4K" style="height: 90%">
                        <span>会员享4K</span>
                    </div>
                    <div class="vip-privilege-item">
                        <img src="/images/benefits/noAD.svg" alt="4K" style="height: 90%">
                        <span>会员无广告</span>
                    </div>
                    <div class="vip-privilege-item">
                        <img src="/images/benefits/priority.svg" alt="4K" style="height: 90%">
                        <span>会员抢先看</span>
                    </div>
                    <div class="vip-privilege-item">
                        <img src="/images/benefits/exclusive.svg" alt="4K" style="height: 90%">
                        <span>会员享独家</span>
                    </div>
                </div>
                <div class="to-be-vip">
                    <img src="/images/vipTipDialog.png" alt="首月15元">
                    <button class="to-be-vip-button" onclick="toVipPage()">开通VIP会员</button>
                </div>
            </div>
        </div>
    </div>

    <div class="movie-info"></div>
</div>

<!--图表-->
<div id="chart" class="chart"></div>

</body>
<!-- 引入 jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- 引入 ECharts 文件 -->
<script src="/js/echarts.common.js"></script>
<script src="/js/moviePlay.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        const movieId = getQueryParam('movieId');
        // 发送 AJAX 请求获取 JSON 数据
        $.ajax({
            url: '/showMovieShowData', // 替换为你的后端 API 地址
            data: {
                movieId: movieId
            },
            type: 'GET',
            success: function(data) {
                var myChart = echarts.init(document.getElementById('chart'));

                // 初始化图表配置项
                var option = {
                    title: {
                        text: ''
                    },
                    tooltip: {},
                    legend: {
                        data: []
                    },
                    xAxis: {
                        data: []
                    },
                    yAxis: {},
                    series: [
                        {
                            name: '',
                            type: '',
                            data: []
                        }
                    ]
                };
                console.log(data)
                // 更新图表配置项
                option.title.text = data.text;
                option.legend.data = data.legend;
                option.xAxis.data = data.categories;
                option.series[0].name = data.legend[0];
                option.series[0].type = data.type
                option.series[0].data = data.values;
                console.log(option)

                // 使用更新后的配置项重新渲染图表
                myChart.setOption(option);
            },
            error: function() {
                alert('获取数据失败');
            }
        });
    });
</script>

</html>