<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>G543电影网——电影播放</title>
    <link rel="stylesheet" href="/css/moviePlay.css">
    <link rel="stylesheet" href="/css/navBar.css">
</head>
<body>
<!--顶部导航栏-->
<div th:insert="headNavBar.html"></div>

<!--电影主要内容-->
<div class="content">
    <div class="movie-player">
        <iframe id="bili-radio"
                src="//player.bilibili.com/player.html?isOutside=true&aid=1301499751&bvid=BV1Xu4m137RK&cid=1456582976&p=1&danmaku=0"
                scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true">
        </iframe>
    </div>

    <div class="movie-info"></div>
</div>

<!--图表-->
<div id="chart" class="chart"></div>

</body>
<script src="/js/moviePlay.js"></script>
</html>