<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>G543电影网</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>搜索</title>
    <link rel="stylesheet" type="text/css" href="/css/search.css">
    <script src="/js/search.js"></script>
</head>
<body>
<div class="container">
    <a class="logo-link" th:href="index">
        <div class="logo">G543</div>
    </a>
    <div class="search-bar">
        <input type="text" class="search-input" placeholder="Search">
        <button class="search-button">
            <img src="/images/searchIcon2.png" alt="Search">
        </button>
    </div>
    <div class="trending">
        <h2>热门搜索</h2>
        <ul>
            <li><span class="rank" style="background-color: #ff183e">1</span> 周处除三害 </li>
            <li><span class="rank" style="background-color: #ff5c38">2</span> 黄处除三害 </li>
            <li><span class="rank" style="background-color: #ffb821">3</span> 黄处除三害2 </li>
            <li><span class="rank">4</span> 黄处除三害3 </li>
            <li><span class="rank">5</span> 黄处除三害444444 </li>
            <li><span class="rank">6</span> 黄处除三害555 </li>
            <li><span class="rank">7</span> 黄处除三害32 </li>
            <li><span class="rank">8</span> 黄处除三害13 </li>
            <li><span class="rank">9</span> 黄处除三害1212 </li>
            <li><span class="rank">10</span> 黄处除三害121212 </li>
        </ul>
    </div>
    <div class="results-container hidden">
        <ul class="movie-list">
        </ul>
    </div>
    <!--分页按钮-->
    <div class="pagination hidden">
        <button class="prev-page">
            <span>&lt;</span>
        </button>
        <span class="current-page">1</span>
        <span>/</span>
        <span class="total-pages">1</span>
        <button class="next-page">
            <span>&gt;</span>
        </button>
    </div>
    <div class="no-results hidden">搜索结果为空</div>
</div>
</body>
</html>
