<div class="side-navbar">

    <!--下拉菜单-->
    <div class="navMenu">
        <div class="nav-title" th:if="${user!=null}">
            <span th:text="${user.getUsername()}">user1</span>
        </div>
        <div class="nav-title" th:if="${user==null}">
            <span th:text="用户"></span>
        </div>

        <!--子标题——未登录-->
        <div class="navContent" th:if="${user==null}">
            <!--未完成：用Thymeleaf做个判断，有登录和没登录显示不一样的内容-->
            <a href="#" id="login-link">
                <div class="item2">登录</div>
            </a>
        </div>

        <!--子标题——已登录-->
        <div class="navContent" th:if="${user!=null}">
            <!--未完成：用Thymeleaf做个判断，有登录和没登录显示不一样的内容-->
            <a href="#">
                <div class="item2">观看历史</div>
            </a>
        </div>
        <div class="navContent" th:if="${user!=null}">
            <!--未完成：用Thymeleaf做个判断，有登录和没登录显示不一样的内容-->
            <a th:href="vip">
                <div class="item2">会员中心</div>
            </a>
        </div>
        <div class="navContent" th:if="${user!=null}">
            <!--未完成：用Thymeleaf做个判断，有登录和没登录显示不一样的内容-->
            <a th:href="logout">
                <div class="item2">退出登录</div>
            </a>
        </div>

    </div>

    <br>
    <a th:href="index">
        <div class="item">首页</div>
    </a>
    <a href="#">
        <div class="item">免费专区</div>
    </a>
    <a href="#">
        <div class="item">会员专享</div>
    </a>
    <a th:href="rank">
        <div class="item">电影排行</div>
    </a>
    <a th:href="testExcel">
        <div class="item">测试报表</div>
    </a>

</div>
