<div class="sideNavBar">

    <div class="navMenu">
        <!--主标题-->
        <div class="navTitle" th:if="${user}">
            <span th:text="${user.getUsername()}"></span>
        </div>
        <div class="navTitle" th:unless="${user}">
            <span th:text="用户"></span>
        </div>
        <!--子标题-->
        <div class="navContent">
            <!--未完成：用Thymeleaf做个判断，有登录和没登录显示不一样的内容-->
            <a href="#" id="login-link">
                <div class="item2">登录</div>
            </a>
        </div>
    </div>
    <a href="#">
        <div class="item">观看历史</div>
    </a>
    <a href="#">
        <div class="item">会员中心</div>
    </a>
    <br>

    <a href="#">
        <div class="item">首页</div>
    </a>
    <a href="#">
        <div class="item">免费专区</div>
    </a>
    <a href="#">
        <div class="item">会员专享</div>
    </a>

</div>
