<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>ECharts</title>
    <!-- 引入 ECharts 文件 -->
    <script src="/js/echarts.common.js"></script>
    <!-- 引入 jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<!-- 为 ECharts 准备一个定义了宽高的 DOM -->
<div id="main" style="width: 600px;height:400px;"></div>
<button id="updateChartBtn">更新图表</button>

<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例


    // 绑定按钮点击事件
    $('#updateChartBtn').click(function() {
        // 发送 AJAX 请求获取 JSON 数据
        $.ajax({
            url: '/movie-data', // 替换为你的后端 API 地址
            type: 'GET',
            success: function(data) {
                var myChart = echarts.init(document.getElementById('main'));

                // 初始化图表配置项
                var option = {
                    title: {
                        text: 'ECharts 入门示例'
                    },
                    tooltip: {},
                    legend: {
                        data: ['电影数量']
                    },
                    xAxis: {
                        data: []
                    },
                    yAxis: {},
                    series: [
                        {
                            name: '销量',
                            type: 'bar',
                            data: []
                        }
                    ]
                };
                console.log(data)
                // 更新图表配置项
                option.xAxis.data = data.categories;
                option.series[0].data = data.values;

                // 使用更新后的配置项重新渲染图表
                myChart.setOption(option);
            },
            error: function() {
                alert('获取数据失败');
            }
        });
    });
</script>
</body>
</html>