<!DOCTYPE html>
<html>
<head>
  <title>支付宝沙箱支付</title>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
<button onclick="payWithAlipay()">支付</button>

<script>
  function payWithAlipay() {
    axios.get('/pay')
            .then(function(response) {
              const payUrl = response.data.payUrl;
              console.log(payUrl)
              window.open(payUrl);
            })
            .catch(function(error) {
              console.error(error);
            });
  }
</script>
</body>
</html>