<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>会员中心</title>
    <link rel="stylesheet" type="text/css" href="/css/vip.css">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>

<body>
    <a class="logo-link" th:href="index">
        <div class="back-to-index" id="back-to-index">
            <img src="/images/movieIcon.png" alt="logo" style="width: 28px; height: 28px; position: relative; top: 5px">
            <span>G543</span>
        </div>
    </a>
    <div class="vip-center">
        <div class="vip-title">VIP专享4K超高清，极速观影特权</div>
        <button class="vip-button" onclick="popWindow()">开通VIP</button>
        <div class="card-container">
            <div class="card">
                <img src="/images/benefits/4k.svg" alt="4K观看">
                <div class="card-title">4K超高清</div>
                <div class="card-description">享受4K超高清电影</div>
            </div>
            <div class="card">
                <img src="/images/benefits/noAD.svg" alt="无广告">
                <div class="card-title">无广告</div>
                <div class="card-description">观看电影无广告打扰</div>
            </div>
            <div class="card">
                <img src="/images/benefits/download.svg" alt="离线下载">
                <div class="card-title">离线下载</div>
                <div class="card-description">随时随地离线下载</div>
            </div>
            <div class="card">
                <img src="/images/benefits/exclusive.svg" alt="独家内容">
                <div class="card-title">独家内容</div>
                <div class="card-description">享受独家VIP电影</div>
            </div>
            <div class="card">
                <img src="/images/benefits/priority.svg" alt="优先观看">
                <div class="card-title">优先观看</div>
                <div class="card-description">新片抢先看</div>
            </div>
        </div>
    </div>
    <div class="overlay" id="paymentPopup">
        <div class="popup">
            <div class="popup-left">
                <div class="selector">
                    <div class="plan-selector" id = "plan-selector">
                        <div class="plan selected" id="goldVip" onclick="selectPlan('goldVip')">
                            黄金VIP
                            <div class="plan-detail">手机/电脑/平板可用</div>
                        </div>
                        <div class="plan" id="platinumVip" onclick="selectPlan('platinumVip')">
                            白金VIP
                            <div class="plan-detail">黄金权益+电视可用</div>
                        </div>
                        <div class="plan" id="diamondVip" onclick="selectPlan('diamondVip')">
                            星钻VIP
                            <div class="plan-detail">升级特惠 七端可用</div>
                        </div>
                    </div>
                    <div class="duration-selector">
                        <div class="duration selected" id="yearly" onclick="selectDuration('yearly')">
                            <div class="duration-detail">
                                连续包年
                            </div>
                            <div>
                                <span class="price">￥148</span> <span class="original-price">￥238</span><br>
                            </div>
                            <div class="duration-renew">
                                次年续费238元
                            </div>
                        </div>
                        <div class="duration" id="quarterly" onclick="selectDuration('quarterly')">
                            <div class="duration-detail">
                                连续包季
                            </div>
                            <div>
                                <span class="price">￥50</span> <span class="original-price">￥68</span><br>
                            </div>
                            <div class="duration-renew">
                                次季续费68元
                            </div>
                        </div>
                        <div class="duration" id="monthly" onclick="selectDuration('monthly')">
                            <div class="duration-detail">
                                连续包月
                            </div>
                            <div>
                                <span class="price">￥15</span> <span class="original-price">￥25</span><br>
                            </div>
                            <div class="duration-renew">
                                次月续费25元
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="popup-right">
                <div class="amount-display">￥148</div>
                <div class="discount">共减 ￥90</div>
                <div class="qr-code">
                    <canvas id="qrCode"></canvas>
                    <p>请扫码完成支付</p>
                </div>
            </div>
            <div class="close" onclick="closeWindow()">X</div>
        </div>
    </div>
<script src="https://cdn.jsdelivr.net/npm/qrcode@1.5.1/build/qrcode.min.js"></script>
<script src="/js/vip.js"></script>
</body>
</html>
